<div class="player">
    <h3 class="title-track">
        Canción que se está escuchando: {{ currentTrack?.name }}
    </h3>
    <div class="buttons-player">
        <button class="button-player button-player-play" [disabled]="!currentTrack" [ngClass]="{ 'active' : currentTrack && !state?.paused }" (click)="playCurrentTrack()"><i class="fas fa-play"></i></button>
        <button class="button-player button-player-pause" [disabled]="!currentTrack" [ngClass]="{ 'active' : currentTrack && state?.paused }" (click)="pauseCurrentTrack()"><i class="fas fa-pause"></i></button>
        <button class="button-player button-player-next" [disabled]="!currentTrack" (click)="nextCurrentTrack()"><i class="fas fa-step-forward"></i></button>
    </div>
    <div class="progress">
        <div class="progress-bar animation" [ngStyle]="{'width': progressPercentage() + '%'}"><span class="progress-label">{{msToTime(progress)}} / {{msToTime(progressTotal)}}</span></div>
    </div>
</div>