<div class="sidebar">
    <div class="row">
        <div class="col-12">
            <h1 class="m-4"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2000px-Spotify_logo_without_text.svg.png" class="ico-sidebar">Spotify</h1>
            <ul class="menu">
                <li>
                    <a routerLink="/albums">Albumes</a>
                </li>
                <li>
                    <a routerLink="/artists">Artistas</a>
                </li>
                <li>
                    <a href="#">Canciones</a>
                </li>
                <li>
                    <a routerLink="/playlists">Playlists</a>
                </li>
            </ul>
            <!-- <h4 class="m-4">Bienvenido {{ user?._display_name }}</h4> -->
            <div class="m-4">
                <input type="button" class="btn btn-info" (click)="login()" value="Login">
                <input type="button" class="btn btn-danger" (click)="logout()" value="Logout">
            </div>
        </div>
    </div>
</div>